
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003f5c;
    padding: 1rem 2rem;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 40px;
    width: auto; }


.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.nav-links li a:hover {
    background-color: #2f4b7c;
    text-align: center;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #18181b;
    line-height: 1.6;
}

.blurred-image-container {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurred-image-container::before {
    content: "";
    background-image: url('../assets/ima1.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blurred-image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.text-overlay {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
    max-width: 80%;
    animation: fadeIn 1.5s ease-out;
}

.text-overlay h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #efedf5;

    margin-bottom: 20px;
}

.text-overlay p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #ffffff;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}